openapi: 3.0.0
info:
  title: BRDG JPMP API
  description: API for the BRDG JPMP kiosk application
  version: 1.0.0
servers:
  - url: https://api.jpmp.brdg.jarv.us
    description: Production backend
  - url: http://localhost:3000
    description: Local development server
paths:
  /:
    get:
      summary: Get API information
      description: Returns API name, version, and environment
      responses:
        "200":
          description: API information
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "BRDG JPMP API"
                  version:
                    type: string
                    example: "1.2.3"
                  env:
                    type: string
                    example: "production"
  /items:
    get:
      summary: Get all items
      description: Returns a list of all items
      responses:
        "200":
          description: A list of items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Item"
    post:
      summary: Create a new item
      description: Creates a new item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - kiosk_type
                - item_type
                - name
                - slug
              properties:
                kiosk_type:
                  type: string
                  enum: [sweet, juice]
                item_type:
                  type: string
                  enum: [sweet, juice, gift]
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                available:
                  type: boolean
                  default: true
      responses:
        "201":
          description: Item created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/Item"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /items/available:
    get:
      summary: Get available items
      description: Returns a list of available items
      responses:
        "200":
          description: A list of available items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Item"
  /items/kiosk/{type}:
    get:
      summary: Get items by kiosk type
      description: Returns a list of items for a specific kiosk type
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [sweet, juice]
      responses:
        "200":
          description: A list of items for the specified kiosk type
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Item"
        "400":
          description: Invalid kiosk type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /items/{slug}:
    get:
      summary: Get a specific item by slug or ID
      description: Returns a specific item by slug or numeric ID (for backwards compatibility)
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
          description: Item slug (string) or ID (integer)
      responses:
        "200":
          description: The requested item
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/Item"
        "400":
          description: Invalid item slug or ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update an item by slug or ID
      description: Updates an existing item by slug or numeric ID (for backwards compatibility)
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
          description: Item slug (string) or ID (integer)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                  description: New slug for the item
                description:
                  type: string
                available:
                  type: boolean
                item_type:
                  type: string
                  enum: [sweet, juice, gift]
      responses:
        "200":
          description: Item updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/Item"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete an item by slug or ID
      description: Deletes an existing item by slug or numeric ID (for backwards compatibility)
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
          description: Item slug (string) or ID (integer)
      responses:
        "200":
          description: Item deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "400":
          description: Invalid item slug or ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /kiosks:
    get:
      summary: Get all kiosks
      description: Returns a list of all kiosks
      responses:
        "200":
          description: A list of kiosks
          content:
            application/json:
              schema:
                type: object
                properties:
                  kiosks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Kiosk"
    post:
      summary: Create a new kiosk
      description: Creates a new kiosk. When role is 'fulfill', client_kiosk_id is required. When role is not 'fulfill', client_kiosk_id must not be provided.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - role
              properties:
                type:
                  type: string
                  enum: [sweet, juice]
                role:
                  type: string
                  enum: [order, fulfill, customize]
                  description: Role of the kiosk
                enabled:
                  type: boolean
                  default: true
                nickname:
                  type: string
                  description: Optional display name for the kiosk
                client_kiosk_id:
                  type: integer
                  description: Reference to another kiosk. Required when role is 'fulfill', not allowed otherwise.
                  nullable: true
                app_version:
                  type: string
                  description: Version of the kiosk application
                  nullable: true
                app_platform:
                  type: string
                  description: Platform running the kiosk application
                  nullable: true
      responses:
        "201":
          description: Kiosk created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  kiosk:
                    $ref: "#/components/schemas/Kiosk"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /kiosks/{id}:
    get:
      summary: Get a specific kiosk
      description: Returns a specific kiosk by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The requested kiosk
          content:
            application/json:
              schema:
                type: object
                properties:
                  kiosk:
                    $ref: "#/components/schemas/Kiosk"
                  currentOrder:
                    type: object
                    nullable: true
                    description: The oldest pending order for this kiosk, or null if none exists
                    allOf:
                      - $ref: "#/components/schemas/Order"
        "404":
          description: Kiosk not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update a kiosk
      description: Updates an existing kiosk. When role is 'fulfill', client_kiosk_id is required. When role is not 'fulfill', client_kiosk_id must not be provided.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [sweet, juice]
                  description: Type of kiosk
                role:
                  type: string
                  enum: [order, fulfill, customize]
                  description: Role of the kiosk
                enabled:
                  type: boolean
                nickname:
                  type: string
                  description: Optional display name for the kiosk
                client_kiosk_id:
                  type: integer
                  description: Reference to another kiosk. Required when role is 'fulfill', not allowed otherwise.
                  nullable: true
                app_version:
                  type: string
                  description: Version of the kiosk application
                  nullable: true
                app_platform:
                  type: string
                  description: Platform running the kiosk application
                  nullable: true
      responses:
        "200":
          description: Kiosk updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  kiosk:
                    $ref: "#/components/schemas/Kiosk"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Kiosk not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a kiosk
      description: Deletes an existing kiosk
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Kiosk deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Kiosk not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /orders:
    get:
      summary: Get all orders
      description: Returns a list of all orders, optionally filtered by user and/or kiosk type
      parameters:
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Optional limit on the number of most recent orders to return
        - name: user
          in: query
          required: false
          schema:
            type: string
          description: Optional user ID to filter orders by user_profile->>'id'
        - name: kiosk_type
          in: query
          required: false
          schema:
            type: string
            enum: [sweet, juice]
          description: Optional kiosk type to filter orders by their kiosk_type
      responses:
        "200":
          description: A list of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"
        "400":
          description: Invalid query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a new order
      description: Creates a new order. Optionally set status to 'completed' for immediate completion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - kiosk_id
                - items
              properties:
                kiosk_id:
                  type: integer
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        oneOf:
                          - type: integer
                            description: Item ID
                          - type: string
                            description: Item slug
                      customizations:
                        type: object
                user_profile:
                  type: object
                  description: User profile data
                status:
                  type: string
                  enum: [completed]
                  description: Optional status to set on creation. Only 'completed' is allowed. If not provided, defaults to 'pending'.
      responses:
        "201":
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /orders/status/{status}:
    get:
      summary: Get orders by status
      description: Returns a list of orders with a specific status
      parameters:
        - name: status
          in: path
          required: true
          schema:
            type: string
            enum: [pending, completed, canceled]
        - name: latest
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Optional limit on the number of most recent orders to return
      responses:
        "200":
          description: A list of orders with the specified status
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"
        "400":
          description: Invalid status or query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /maintenance:
    get:
      summary: Get maintenance mode status
      description: Returns whether maintenance mode is enabled
      responses:
        "200":
          description: Maintenance mode status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether maintenance mode is enabled
    post:
      summary: Set maintenance mode
      description: Enable or disable maintenance mode. When enabled, all API endpoints will return 503 Service Unavailable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
                  description: Whether to enable maintenance mode
      responses:
        "200":
          description: Maintenance mode updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Current maintenance mode status
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /orders/{id}:
    get:
      summary: Get a specific order
      description: Returns a specific order by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The requested order
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update an order
      description: Updates an existing order's status and/or survey response
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [pending, completed, canceled]
                  description: Order status
                survey_response:
                  type: object
                  description: Survey response data as JSON object
                  nullable: true
      responses:
        "200":
          description: Order updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: "#/components/schemas/Order"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete an order
      description: Deletes an existing order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Order deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Profile:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        hatChoice:
          type: string
          enum: ["tan", "rose", "limestone", "blue"]
          description: User's preferred hat color choice
        flavor:
          type: string
          enum: ["citrus", "pineapple", "coffee", "mint"]
          description: User's preferred flavor profile
        escape:
          type: string
          enum: ["beach day", "quiet morning routine", "cozy evening routine", "spa day"]
          description: User's preferred escape experience
    Item:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
          description: Unique identifier for the item
        kiosk_type:
          type: string
          enum: [sweet, juice]
        item_type:
          type: string
          enum: [sweet, juice, gift]
        name:
          type: string
        description:
          type: string
        available:
          type: boolean
        created_at:
          type: string
          format: date-time
    Kiosk:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [sweet, juice]
        role:
          type: string
          enum: [order, fulfill, customize]
          description: Role of the kiosk
        nickname:
          type: string
          description: Optional display name for the kiosk
        enabled:
          type: boolean
        client_kiosk_id:
          type: integer
          description: Reference to another kiosk. Required when role is 'fulfill', not allowed otherwise.
          nullable: true
        app_version:
          type: string
          description: Version of the kiosk application
          nullable: true
        app_platform:
          type: string
          description: Platform running the kiosk application
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          description: Automatically updated when any field changes
    Order:
      type: object
      properties:
        id:
          type: integer
        kiosk_id:
          type: integer
        kiosk_type:
          type: string
          enum: [sweet, juice]
          description: The type of kiosk at the time the order was created. This value is captured when the order is created and does not change even if the kiosk's type changes later.
        status:
          type: string
          enum: [pending, completed, canceled]
        user_profile:
          type: object
          description: User profile data
        survey_response:
          type: object
          description: Survey response data as JSON object
          nullable: true
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: "#/components/schemas/OrderItem"
    OrderItem:
      type: object
      properties:
        id:
          type: integer
        order_id:
          type: integer
        item_id:
          type: integer
        slug:
          type: string
          description: Unique identifier for the item
        name:
          type: string
        description:
          type: string
        available:
          type: boolean
          description: Whether the item is currently available for ordering
        created_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            status:
              type: integer
